name: PR Sanity

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - 'draft/**'
      - 'topic/**'
  workflow_dispatch:

jobs:
  pr-sanity:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Lint GitHub Workflows
        uses: rhysd/actionlint@v1

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm ci

      - name: Run Regression Tests
        run: npm test
